<p class="summary-header">
  <a href="{{ .Permalink }}">
    <span class="summary-title">{{ .Title }}</span>
  </a>
  {{ if not .Date.IsZero }}
  <span class="summary-day">
    {{ .Date.Format "Jan 2, 2006"}}
  </span>
  {{ end }}
</p>

{{/*  Defaults to the subtitle if available. Otherwise generates summary text. */}}
{{ $summaryText := "" }}

{{ with .Params.subtitle }}
  {{/*  Adds a period at the end if necessary  */}}
  {{ $summaryText = cond (hasSuffix . ".") . (. | printf "%s.") }}
{{ end }}

{{ if not $summaryText }}
  {{- $summaryText := .Summary | plainify | htmlUnescape -}}
{{ end }}

{{ if $summaryText }}
  <p class="summary-text">
    {{ $summaryText }}
    {{/* could put a 'read more' here by checking ``if .Truncated`` */}}
  </p>
{{ end }}