$font-stack: Helvetica, sans-serif
$background-color: #ffffff
$background-color-dark: rgb(242, 242, 242)
$text-color: #333333
$text-color-light: rgb(117, 117, 117)
$accent1: #004B6B
$accent2: #5085a5
$accent3: #31708e
$accent4: #687864
$accent5: #6D4100

// admonition theming
$note-color: #eee
$note-color-dark: #ccc
$tip-color: #a3ff97
$tip-color-dark: #80c877
$attention-color: rgb(237, 225, 94)
$attention-color-dark: rgb(233, 213, 2)
$caution-color: rgb(237, 225, 94)
$caution-color-dark: rgb(233, 213, 2)
$danger-color: rgb(237, 123, 94)
$danger-color-dark: rgb(226, 84, 48)
$error-color: rgb(233, 143, 120)
$error-color-dark: rgb(226, 84, 48)
$hint-color: rgb(119, 198, 235)
$hint-color-dark: rgb(45, 170, 228)
$important-color: rgb(119, 222, 133)
$important-color-dark: rgb(94, 237, 113)
$warning-color: rgb(237, 225, 94)
$warning-color-dark: rgb(233, 213, 2)

body
  font: 100% $font-stack
  color: $text-color
  margin: 0
  font-size: 120%

nav
  display: flex
  justify-content: end
  align-items: center
  border-bottom: thin solid $accent2
  font-style: normal
  a
    padding: 1ex
    text-decoration: none
    font-style: inherit // most links are italicized
  ul
    display: flex
    flex-wrap: wrap
    margin-left: auto
    list-style-type: none
    margin: 0
    padding: 0
    width: 100%
    li
      padding: 1ex
      &:first-child
        flex-grow: 1

.doc
  display: flex
  justify-content: center
  padding: 2ex

@media screen and (min-width: 60em)
  .content
    max-width: 48em
    width: 100%
    min-width: 0em

.document
  margin-bottom: 4ex

.admonition
  border-radius: 0.3ex
  background-color: #eee
  border: thin solid #ccc
  margin-top: 1ex
  margin-bottom: 1ex
  padding: 0.75ex
  p
    margin-bottom: 0.5ex
  >:last-child
    margin-bottom: 0
  >p:nth-child(2)
    display: inline
  .admonition-title
    display: inline
    font-weight: bold
    &::after
      content: ":"
  &::after
    display: block
    clear: both
    content: ""
  &.note
    background-color: $note-color
    border: thin solid $note-color-dark
  &.tip
    background-color: $tip-color
    border: thin solid $tip-color-dark
  &.attention
    background-color: $attention-color
    border: thin solid $attention-color-dark
  &.caution
    background-color: $caution-color
    border: thin solid $caution-color-dark
  &.danger
    background-color: $danger-color
    border: thin solid $danger-color-dark
  &.error
    background-color: $error-color
    border: thin solid $error-color-dark
  &.hint
    background-color: $hint-color
    border: thin solid $hint-color-dark
  &.important
    background-color: $important-color
    border: thin solid $important-color-dark
  &.warning
    background-color: $warning-color
    border: thin solid $warning-color-dark

.pagelist
  list-style-type: none
  padding: 0
  .summary-day
    &::before
      content: " - "

.summary-header
  margin-bottom: 1ex

.summary-text
  margin-top: 0

a
  font-style: italic
  text-decoration: underline
  color: $accent1
  &:hover
    color: $accent5

.title
  font-size: xxx-large
  margin: 0
  word-break: break-word

.subtitle
  margin: 0
  color: $text-color-light
  font-size: larger

.date
  color: $text-color-light
  font-size: smaller

.home-title
  font-size: xxx-large

.home-subtitle
  font-size: larger
  color: $text-color-light

.links
  display: flex
  flex-wrap: wrap
  justify-content: center
  list-style-type: none
  padding: 0
  a
    padding: 1ex

.count
  font-style: normal
  color: $text-color
  border: thin solid $accent1
  border-radius: 50%
  text-align: center
  display: inline-block
  min-width: 2.2ex
  font-size: small
  padding: 0.2ex
  padding-top: 0.3ex
  padding-bottom: 0.1ex
  margin-left: 1ex
  transform: translate(0px, -1ex)

.taglist
  list-style-type: none
  margin: 0
  padding: 0
  display: flex
  flex-wrap: wrap

.tag
  display: block
  padding: 1ex 2ex
  margin-top: 1ex
  margin-left: 0.5ex
  white-space: nowrap
  border-radius: 100ex
  background-color: $background-color-dark
  border: thin solid $background-color-dark
  text-decoration: none
  font-style: inherit // most links are italicized
  color: inherit

dt
  font-weight: bold

dd
  margin-bottom: 2ex
  >.first
    margin-top: 0

.footnote
  &:first-of-type
    border-top: thin solid $note-color-dark
    padding-top: 1ex

blockquote
  font-style: italic
  .attribution
    text-align: right
  border-left: medium solid
  padding-left: 3ex

em
  line-height: 1em